.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #84DCFE;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);

  &Item:hover {
    color: #6A6C7A;
    cursor: pointer;
  }
  &Item:active {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}