.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.addForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &Input{
    height: 50px;
    text-align: center;
    background-color: #6A6C7A;
    border: none;
    font-size: 1.5em;
    color: white;
  }
  &Select {
    margin: 20px 0;
    height: 50px;
    background-color: #6A6C7A;
    border: none;
    font-size: 1.5em;
    color: white;
  }
  &Label {
    font-size: 1.6em;
    margin: 15px 0;
  }
  &Error {
    margin: -5px 0 10px;
    color: #c2452d;
  }

  .addFormInput::placeholder{
    color: darkgray;
    padding-left: 10px;
  }

}
.Options {
  width: 80%;
  display: flex;
  justify-content: space-between;

}

Button {
  font-size: 10px;
  margin: 15px;
}
