.myPantry {
  display: flex;
  flex-direction: column;
  color: #FE7DA7;
  align-items: center;

  &Link {
    text-decoration: none;
    color: #FE7DA7;
  }
  &Title {
    font-size: 1.5em;
    margin-top: 0px;
  }
  &Box {
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 2px #FE7DA7;
    border-radius: 20px;
    box-shadow: 0 20px 40px -10px rgba(black, .4);
    width: 150px;
    height: 150px;

    transition: all .8s ease;
    -o-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
  }
  &Box:hover {
    color: #21243A;
    background-color: #FE7DA7;
    border: solid 2px #21243A;
    width: 175px;
    height: 175px;
    cursor: pointer;
  }

  i {
    font-size: 6em;
  }
}

.shoppingList {
  @extend .myPantry;
  color: #B0F3B9;

  &Link{
    @extend .myPantryLink;
    color: #B0F3B9;
  }
  &Title {
    @extend .myPantryTitle;
    margin-top: 15px;
  }
  &Box {
    @extend .myPantryBox;
    border: solid 2px #B0F3B9;
  }
  &Box:hover {
    @extend .myPantryBox;
    color: #21243A;
    background-color: #B0F3B9;
    border: solid 2px #21243A;
  }
}
.settings {
  @extend .myPantry;

  color: #84DCFE;

  &Link {
    @extend .myPantryLink;
    color: #84DCFE;
  }
  &Title {
    @extend .myPantryTitle;
    margin-top: 15px;
  }
  &Box {
    @extend .myPantryBox;
    border: solid 2px #84DCFE;
  }
  &Box:hover {
    @extend .myPantryBox;
    color: #21243A;
    background-color: #84DCFE;
    border: solid 2px #21243A;
  }
}

/*==============MEDIA_QUERIES==================*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .wrapper {
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .myPantry{
    margin: 10% 5%;
    &Title {
      font-size: 2em;
    }
    &Box {
      width: 250px;
      height: 250px;
    }
    &Box:hover {
      width: 300px;
      height: 300px;
    }
    i {
      font-size: 10em;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}