@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,::after,::before {
  box-sizing: border-box;
}
body {
  background-color: #1A1C2C;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
