.wrapper {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}
.noItems {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: 100px 0;
  text-align: center;
  font-size: .8em;
  color: #757684;
}